nltk
spacy>=2.2.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
torch
fastai>=2
fastbook
seaborn
tensorflow_gpu>=2.0
ktrain
git+https://github.com/amaiya/eli5@tfkeras_0_10_1
git+https://github.com/amaiya/stellargraph@no_tf_dep_082
tqdm
transformers
elasticsearch
pandas=1.2.3
scikit-learn==0.22.2.post1
flask_bootstrap
flask_wtf
flask_sqlalchemy
flask_login
email_validator