{% extends "bootstrap/base.html" %}

{% block title %}
Inbox
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Baniank mail</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div style="position: absolute; bottom: 20px;"><img src="{{url_for('.static', filename='logo-big.png')}}" width="150px"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="/inbox">Inbox <span class="sr-only">(current)</span></a></li>
        <li><a href="/compose">Compose</a></li>
      </ul>
      <div style="position: absolute; bottom: 20px;"><img src="{{url_for('.static', filename='logo.png')}}" width="150px"></div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Welcome, {{ name }}</h1>

  
        <h2 class="sub-header">Inbox</h2>
        <div class="table-responsive">
          <table id="myTable" class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Content</th>
                <th>Class #1</th>
                <th>Class #2</th>
                <th style="color:#9d9d9d">Class true</th>
              </tr>
            </thead>
            <tbody>
              {% for _, email in df.iterrows() %}
              <tr>
                <td> {{ email['index'] }}</td>
                <td> {{ email['text'] }}</td>
                <td> {{ email['Class 1'] }} [{{ '%0.0f'|format((email['Probability 1']|float)*100) }}%]</td>
                <td> {{ email['Class 2'] }} [{{ '%0.0f'|format((email['Probability 2']|float)*100) }}%]</td>
                <td style="color:#9d9d9d"> {{ email['class_group'] }} </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="pull-right">
          <button class="reload;" onclick="location.reload()">Next page</button>
        </div>

      </div>


    </div>
  </div>
</div>
{% endblock %}